

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
     
 * {
     padding: 0;
     margin: 0;


 }


    
    
    body {

        background-color: #000000;
        color: #F6F6F6;
        box-sizing: border-box;
        }
        
        .titulo-destaque {
        color: #22D4FD;
        
        }

        .presentacion {

            display: flex;
            align-items: center;
            margin: 5% 10%;
            justify-content: space-between;
   
           }
       
           .presentacion__contenido{

            width: 615px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            /*padding: 5rem;*/
           }

.diseno__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion_contenido_texto{

    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion__enlaces {

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

}

.presentacion__enlaces__subtitulo{

    font-family: "Krona One", sans-serif;
    font-size: 1.5rem ;
    font-weight: 400;

}

.presentacion__enlace__link{

    

    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 0.5rem;   
    font-size: 24px;
    font-weight: 600px;
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Montserrat", sans-serif;
    border: 0.3rem groove #22D4FD;
    display: flex;
    justify-content: center;
    gap: 0.6rem;

}

.presentacion__enlace__link:hover {

    cursor: cell;

    background-color: #272727;
}

.footer {

background-color:  #22D4FD;
padding: 1.5rem;
color: #000000;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 1.4rem;
font-weight: 400;
}